* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary--color: #2b2b32;

  --carousel: 0;
}
body {
  background: #0e0e0e;
  padding: 2rem;
}
.carousel {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  margin: 3em auto;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}
.carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.carousel::scroll-marker {
  content: "";
  width: 1rem;
  height: 1rem;
  background: var(--primary--color);
  border-radius: 50%;
}
.card {
  background: var(--primary--color);
  aspect-ratio: 5 / 3;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
  align-content: center;
  flex: 0 0 20em;
  scroll-snap-align: center;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel::scroll-button(right),
.carousel::scroll-button(left) {
  border: none;
  background: rgb(123, 8, 94);
  font-family: Consolas;
  font-size: 2rem;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-bottom: 0.1rem;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
}
.carousel::scroll-button(right) {
  content: "→";
  translate: -50%;
}

.carousel::scroll-button(left) {
  content: "←";
  position-area: left center;
  translate: 50%;
}
.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media (max-width: 500px) {
  .card {
    flex: 0 0 100%;
  }
}
